body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right top,
    #1d57dc,
    #0086fa,
    #00aeff,
    #00d2fe,
    #22f2f6
  );
  font-family: sans-serif;
  font-size: 16px;
  color: #444;
}

.PageLayout {
  display: flex;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}
